# HW02
In this assignment, you will learn how to preprocess data using SQLite and Pandas.

Please follow the instructions below:

1. Write down your code between <br>
&nbsp;&nbsp;&nbsp;&nbsp; **\# BEGIN_YOUR_CODE**<br>
&nbsp;&nbsp;&nbsp;&nbsp; and<br>
&nbsp;&nbsp;&nbsp;&nbsp; **\# END_YOUR_CODE**.

2. Do not use **external libraries**. (i.e., Do not use any `import` in your code) <br>
   Your code will fail to execute and get **0 score** if you use them.

3. Rename this file to **[student_id].ipynb** (e.g. 20221234.ipynb) and submit it to PLMS. <br>
   There is **20% penalty** if you do not follow the submission format.

4. Submission more than one day late is not accepted.
   There is **50% penalty** for late submission up to one day.

In [1]:
import sqlite3
import pandas as pd

from typing import List, Tuple

## Problem 1. SQLite and Python [8 points]

### a. Create [1 points]
Implement function `create` that connects a database named `titanic.db` and creates a table named `Company` in it. <br>
The contents of table `Company` are as follow:
   | Employee | Department | Salary | Gender |
   | :-       | :-         | :-     | :-     |
   | John     | sales      | 5000   | M      |
   | Allen    | accounting | 6000   | M      |
   | Martin   | research   | 3500   | M      |
   | Mary     | sales      | 5500   | F      |
   | Smith    | research   | 4500   | M      |

In [10]:
def create() -> None:
    '''
        create() connects a database named |titanic.db| and creates a table |Company| in it.

        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string
        
        The order of data insertion does not matter.
    '''
    # BEGIN_YOUR_CODE
    comp = sqlite3.connect('titanic.db')
    cur = comp.cursor()
    cur.execute("CREATE TABLE IF NOT EXISTS Company(Employee text, Department text, Salary int, Gender text)")
    info = (['John', 'Sales', 5000, 'M'], ['Allen', 'accounting', 6000, 'M'], ['Martin', 'research', 3500, 'M'], ['Mary', 'sales', 5500, 'F'], ['Smith', 'research', 4500, 'M'])
    cur.executemany("INSERT INTO Company VALUES(?, ?, ?, ?)", info)
    comp.commit()
    comp.close()


    # END_YOUR_CODE

### b. Select 1 [1 points]
Implement function `select1` that fetches all data from table `Titanic` in database `titanic.db`.

In [3]:
def select1() -> List[Tuple[int, str, int, int]]:
    '''
        select1() fetches all data from table |Titatic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, |Name|, |Survived|, |Age| )
            for 1 <= n <= N.

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT Pclass, Name, Survived, Age FROM Titanic")
    info = cur.fetchall()

    tita.commit()
    tita.close()
    return info
    
    # END_YOUR_CODE

### c. Select 2 [2 points]
Implement function `select2` that fetches all data of survivals under the age of 65 from table `Titanic` in database `titanic.db`. <br>
The data shoulbe be arranged in ascending order of age.

In [4]:
def select2() -> List[Tuple[int, str, int, int]]:
    '''
        select2() fetches all data satisfying certain condition from table |Titatic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, |Name|, |Survived|, |Age| ), |Survived| == 1, |Age| < 65
            for 1 <= n <= N.

        The tuples should be arranged in ascending order of |Age|.
        The order of tuples with the same |Age| does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()

    cur.execute("SELECT Pclass, Name, Survived, Age FROM Titanic WHERE Survived = 1 AND Age < 65 ORDER BY Age ASC")
    info = cur.fetchall()

    tita.commit()
    tita.close()
    return info
    # END_YOUR_CODE

### d. Select 3 [2 points]
Implement function `select3` that fetches all data from table `Titanic` in database `titanic.db` <br>
and calculates average age of passengers by ticket class.

In [5]:
def select3() -> List[Tuple[int, float]]:
    '''
        select3() fetches all data from table |Titatic| in database |titanic.db|,
            calculates average age by |Pclass|, and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, average |Age| )
            for 1 <= n <= N.

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()

    cur.execute("SELECT Pclass, AVG(Age) FROM Titanic GROUP BY Pclass")
    info = cur.fetchall()

    tita.commit()
    tita.close()

    return info
    # END_YOUR_CODE

### e. Join [2 points]
Implement function `join` that left-joins two tables `Company` and `Titanic` in database `titanic.db` by name. <br>
In this problem, table `Company` is utilized, which means you should successfully implement function `create` to start this problem.

In [6]:
def join() -> List[Tuple[str, str, int, str, int, str, int, int]]:
    '''
        join() left-joins two tables |Company| and |Titatic| in database |titanic.db|
            and returns them as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Employee|, |Department|, |Salary|, |Gender|, |Pclass|, |Name|, |Survived|, |Age| )
            for 1 <= n <= N.    

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()

    cur.execute("SELECT Employee, Department, Salary, Gender, Pclass, Name, Survived, Age FROM Company LEFT JOIN Titanic")
    info = cur.fetchall()

    tita.commit()
    tita.close()

    return info


    # END_YOUR_CODE

## Problem 2. SQLite and Pandas [4 points]

### a. from SQLite Database to Pandas Dataframe [2 points]
Implement function `db2df` that converts table `Titanic` in database `titanic.db` into pandas dataframe and saves it in `titanic.csv`.

In [11]:
def db2df() -> None:
    '''
        db2df() converts table |Titanic| in database |titanic.db| into pandas dataframe
            and saves it in |titanic.csv|.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        Columns of the converted dataframe, namely df, should be as follow:
            df.columns == ['Pclass', 'Name', 'Survived', 'Age']

        The order of rows does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT Pclass, Name, Survived, Age FROM Titanic")

    info = cur.fetchall()
    table = pd.DataFrame(info, columns=['Pclass', 'Name', 'Survived', 'Age'])
    table.to_csv('titanic.csv',index = False)

    tita.commit()
    tita.close()
    # END_YOUR_CODE

### b. from Pandas Dataframe to SQLite Database [2 points]
Implement function `df2db` that converts pandas dataframe read from `titanic2.csv` into table `Titanic2` and saves it in database `titanic.db`.

In [12]:
def df2db() -> None:
    '''
        df2db() converts pandas dataframe read from |titanic2.csv| into table |Titanic2|
            and saves it in |titanic.db|.

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The order of columns and data in table |Titanic2| does not matter.
    '''
    # BEGIN_YOUR_CODE
    df = pd.read_csv('titanic2.csv')
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()

    cur.execute("CREATE TABLE IF NOT EXISTS Titanic2(Ticket text, Fare int)")

    for index, row in df.iterrows():
        cur.execute('INSERT INTO Titanic2(Ticket, Fare) VALUES (?, ?)', (row['Ticket'], row['Fare']))

    tita.commit()
    tita.close()
    # END_YOUR_CODE

## Problem 3. Relational Algebra [8 points]
Connect to database `titanic.db`, execute following relational algebra expression, and return fetched data. <br>
In this problem, tables `Company` and `Titanic2` are utilized, which means you should successfully implement functions `create` and `df2db` to start this problem.

### a. [2 points]
$\pi_{Ticket, Fare}(\sigma_{Fare > 30}(Titanic2))$

In [14]:
def rel_alg1() -> List[Tuple[str, int]]:
    '''
        rel_alg1() connects to database |titanic.db|, executes given relational algebra expression,
            and returns fetched data as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Ticket|, |Fare| )
            for 1 <= n <= N.    

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    

    cur.execute("SELECT Ticket, Fare FROM Titanic2 WHERE Fare > 30")
    info = cur.fetchall()

    tita.commit()
    tita.close()

    return info

    # END_YOUR_CODE

[('PC 17599', 71),
 ('113803', 53),
 ('17463', 51),
 ('347082', 31),
 ('113788', 35),
 ('347077', 31),
 ('19950', 263),
 ('PC 17604', 82),
 ('113789', 52),
 ('SC/Paris 2123', 41),
 ('3101295', 39),
 ('PC 17572', 76),
 ('113509', 61),
 ('CA 2144', 46),
 ('113572', 80),
 ('36973', 83),
 ('S.O.C. 14879', 73),
 ('1601', 56),
 ('113059', 47),
 ('W./C. 6608', 34),
 ('W.E.P. 5734', 61),
 ('PC 17754', 34),
 ('PC 17759', 63),
 ('35281', 77),
 ('110465', 52),
 ('PC 17558', 247),
 ('S.O.C. 14879', 73),
 ('PC 17593', 79),
 ('C.A. 33112', 36),
 ('113776', 66),
 ('PC 17597', 61),
 ('1601', 56),
 ('111240', 33),
 ('230136', 39),
 ('PC 17569', 146),
 ('112277', 31),
 ('35273', 113),
 ('11813', 76),
 ('19943', 90),
 ('19928', 90),
 ('11751', 52),
 ('110152', 86),
 ('PC 17755', 512),
 ('110413', 79),
 ('PC 17582', 153),
 ('PC 17760', 135),
 ('13502', 77),
 ('19877', 78),
 ('11967', 91),
 ('113781', 151),
 ('PC 17758', 108),
 ('PC 17485', 56),
 ('11767', 83),
 ('PC 17608', 262),
 ('36928', 164),
 ('16966', 134),
 ('PC 17760', 135),
 ('111361', 57),
 ('16966', 134),
 ('113784', 35),
 ('113505', 55),
 ('110813', 75),
 ('PC 17477', 69),
 ('11765', 55),
 ('PC 17760', 135),
 ('113503', 211),
 ('PC 17757', 227),
 ('S.O.C. 14879', 73),
 ('28220', 32),
 ('13507', 55),
 ('33638', 81),
 ('17453', 89),
 ('111320', 38),
 ('PC 17609', 49),
 ('36947', 78),
 ('110152', 86),
 ('1601', 56),
 ('PC 17603', 59),
 ('36967', 34),
 ('12749', 93),
 ('PC 17761', 106),
 ('13568', 49),
 ('WE/P 5735', 71),
 ('PC 17761', 106),
 ('17421', 110),
 ('11755', 39),
 ('11769', 51),
 ('13049', 40),
 ('13567', 79),
 ('36947', 78),
 ('PC 17582', 153),
 ('220845', 65),
 ('11753', 52),
 ('36963', 32),
 ('13502', 77),
 ('PC 17477', 69),
 ('13213', 35),
 ('PC 17611', 133),
 ('F.C. 12750', 52),
 ('PC 17755', 512),
 ('PC 17572', 76),
 ('24160', 211),
 ('17474', 57),
 ('PC 17757', 227),
 ('113781', 151),
 ('PC 17482', 49),
 ('19996', 52),
 ('PC 17757', 227),
 ('113806', 53),
 ('PC 17755', 512),
 ('19877', 78),
 ('113773', 53),
 ('110152', 86),
 ('13502', 77),
 ('24160', 211),
 ('PC 17593', 79),
 ('S.C./PARIS 2079', 37),
 ('113572', 80),
 ('PC 17756', 83),
 ('1601', 56),
 ('113798', 31),
 ('PC 17592', 39),
 ('PC 17590', 50),
 ('11767', 83)]

### b. [3 points]
$\pi_{Name, Survived}(\sigma_{Pclass = 2}(Titanic)) - \pi_{Name, Survived}(\sigma_{Age \ge 20}(Titanic))$

In [15]:
def rel_alg2() -> List[Tuple[str, int]]:
    '''
        rel_alg2() connects to database |titanic.db|, executes given relational algebra expression,
            and returns fetched data as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Name|, |Survived| )
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT Name, Survived FROM Titanic WHERE Pclass = 2 EXCEPT SELECT Name, Survived FROM Titanic WHERE Age >= 20")
    info = cur.fetchall()

    tita.commit()
    tita.close()
    
    return info
    # END_YOUR_CODE

[('Andrew', 0),
 ('Bailey', 0),
 ('Becker', 1),
 ('Caldwell', 1),
 ('Carbines', 0),
 ('Collyer', 1),
 ('Davies', 0),
 ('Fahlstrom', 0),
 ('Gaskell', 0),
 ('Ilett', 1),
 ('Laroche', 1),
 ('Lehmann', 1),
 ('Mellors', 1),
 ('Mudd', 0),
 ('Nasser', 1),
 ('Nicholls', 0),
 ('Pengelly', 0),
 ('Phillips', 1),
 ('Richards', 1),
 ('Silven', 1),
 ('Wells', 1),
 ('West', 1)]

### c. [3 points]
$\pi_{Employee, Salary, Age}(\sigma_{Employee = Name}(Company \times Titanic))$

In [17]:
def rel_alg3() -> List[Tuple[str, int, int]]:
    '''
        rel_alg3() connects to database |titanic.db|, executes given relational algebra expression,
            and returns fetched data as a list of tuples.
        
        Columns and data types of table |Company| are as follow:
            |Employee|   - string
            |Department| - string
            |Salary|     - int
            |Gender|     - string

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int

        Columns and data types of table |Titanic2| are as follow:
            |Ticket| - string
            |Fare|   - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Employee|, |Salary|, |Age| )
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT Employee, Salary, Age FROM COMPANY, Titanic WHERE Employee=Name")

    info = cur.fetchall()
    tita.commit()
    tita.close()
    return info
    # END_YOUR_CODE

[('Allen', 6000, 35), ('Smith', 4500, 56)]

## Problem 4. Complicated SQL Query [10 points]
In this problem, do not just fetch all data from table and use basic python operations to solve the problem. <br>
Only SQL query is allowed.

### a. Complicated Select 1 [3 ponts]
Implement `comp_select1` that counts the number of passengers for each ticket class using table `Titanic` in database `titanic.db`.

In [22]:
def comp_select1() -> List[Tuple[int, int]]:
    '''
        comp_select1() counts the numbers of passengers for each ticket class using table |Titanic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, # of passengers )
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT Pclass, COUNT(Pclass) FROM Titanic GROUP BY Pclass")
    info = cur.fetchall()

    tita.commit()
    tita.close()

    return info


    # END_YOUR_CODE

[(1, 144), (2, 129), (3, 262)]

### b. Complicated Select 2 [3 ponts]
Implement `comp_select2` that calculates the average age of passengers for each ticket class using table `Titanic` in database `titanic.db` <br>
and finds ticket classes whose average passenger age is under 35.

In [26]:
def comp_select2() -> List[Tuple[int, int]]:
    '''
        comp_select2() calculates the average passenger age for each ticket class using table |Titanic| in database |titanic.db|,
            finds ticket classes whose average passenger age is under 35,
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Pclass|, average passenger age ), average passenger age < 35
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT PClass, AVG(Age) FROM Titanic GROUP BY Pclass HAVING AVG(Age) < 35")
    info = cur.fetchall()
    tita.commit()
    tita.close()

    return info
    # END_YOUR_CODE

[(2, 30.891472868217054), (3, 26.484732824427482)]

### c. Complicated Select 3 [4 ponts]
Implement `comp_select3` that finds every pair of survived passengers using table `Titanic` in database `titanic.db`. <br>
For example, if `A`, `B`, `C` and `D` are all survived passengers, `comp_select3` would return `[(A, B), (A, C), (A, D), (B, C), (B, D), (C, D)]`. <br>
The order of tuples in list can be changed.

In [33]:
def comp_select3() -> List[Tuple[str, str]]:
    '''
        comp_select3() finds every pair of survived passengers' names using table |Titanic| in database |titanic.db|
            and returns them as a list of tuples.

        Columns and data types of table |Titanic| are as follow:
            |Pclass|   - int
            |Name|     - string
            |Survived| - int
            |Age|      - int
        
        The returned list should be formatted as follow:
            [ Tuple_1, ..., Tuple_N ]
            where N is # of fetched data and
            Tuple_n = ( |Name|_1, |Name|_2 ), |Name|_1 and |Name|_2 are lexicographically ordered
            for 1 <= n <= N. 

        The order of tuples does not matter.
    '''
    # BEGIN_YOUR_CODE
    tita = sqlite3.connect('titanic.db')
    cur = tita.cursor()
    cur.execute("SELECT A.Name, B.Name FROM Titanic AS A, Titanic AS B WHERE A.Survived = 1 AND B.Survived = 1 AND A.Name < B.Name")
    info = cur.fetchall()

    tita.commit()
    tita.close()
    return info
    # END_YOUR_CODE

[('Cumings', 'Dahl'),
 ('Cumings', 'Daly'),
 ('Cumings', 'Daniel'),
 ('Cumings', 'Davis'),
 ('Cumings', 'Devaney'),
 ('Cumings', 'Dick'),
 ('Cumings', 'Dodge'),
 ('Cumings', 'Doling'),
 ('Cumings', 'Dorking'),
 ('Cumings', 'Dowdell'),
 ('Cumings', 'Drew'),
 ('Cumings', 'Duff Gordon'),
 ('Cumings', 'Duran y More'),
 ('Cumings', 'Emanuel'),
 ('Cumings', 'Endres'),
 ('Cumings', 'Eustis'),
 ('Cumings', 'Faunthorpe'),
 ('Cumings', 'Flynn'),
 ('Cumings', 'Francatelli'),
 ('Cumings', 'Frauenthal'),
 ('Cumings', 'Frolicher'),
 ('Cumings', 'Frolicher-Stehli'),
 ('Cumings', 'Futrelle'),
 ('Cumings', 'Garside'),
 ('Cumings', 'Gilnagh'),
 ('Cumings', 'Goldenberg'),
 ('Cumings', 'Goldsmith'),
 ('Cumings', 'Graham'),
 ('Cumings', 'Greenfield'),
 ('Cumings', 'Hakkarainen'),
 ('Cumings', 'Hamalainen'),
 ('Cumings', 'Harder'),
 ('Cumings', 'Harper'),
 ('Cumings', 'Hassab'),
 ('Cumings', 'Hays'),
 ('Cumings', 'Hedman'),
 ('Cumings', 'Heikkinen'),
 ('Cumings', 'Herman'),
 ('Cumings', 'Hewlett'),
 ('Cumings', 'Hippach'),
 ('Cumings', 'Hirvonen'),
 ('Cumings', 'Hogeboom'),
 ('Cumings', 'Homer'),
 ('Cumings', 'Honkanen'),
 ('Cumings', 'Hosono'),
 ('Cumings', 'Hoyt'),
 ('Cumings', 'Icard'),
 ('Cumings', 'Ilett'),
 ('Cumings', 'Jalsevac'),
 ('Cumings', 'Jansson'),
 ('Cumings', 'Jerwan'),
 ('Cumings', 'Johnson'),
 ('Cumings', 'Jonsson'),
 ('Cumings', 'Karun'),
 ('Cumings', 'Kimball'),
 ('Cumings', 'Kink-Heilmann'),
 ('Cumings', 'Landergren'),
 ('Cumings', 'Lang'),
 ('Cumings', 'Laroche'),
 ('Cumings', 'LeRoy'),
 ('Cumings', 'Leader'),
 ('Cumings', 'Leeni'),
 ('Cumings', 'Lehmann'),
 ('Cumings', 'Lemore'),
 ('Cumings', 'Lesurer'),
 ('Cumings', 'Lindqvist'),
 ('Cumings', 'Lines'),
 ('Cumings', 'Longley'),
 ('Cumings', 'Louch'),
 ('Cumings', 'Lulic'),
 ('Cumings', 'Lurette'),
 ('Cumings', 'Madill'),
 ('Cumings', 'Madsen'),
 ('Cumings', 'Maioni'),
 ('Cumings', 'Mayne'),
 ('Cumings', 'McGough'),
 ('Cumings', 'McGowan'),
 ('Cumings', 'Mellinger'),
 ('Cumings', 'Mellors'),
 ('Cumings', 'Moor'),
 ('Cumings', 'Najib'),
 ('Cumings', 'Nakid'),
 ('Cumings', 'Nasser'),
 ('Cumings', 'Newell'),
 ('Cumings', 'Newsom'),
 ('Cumings', 'Nicola-Yarred'),
 ('Cumings', 'Nilsson'),
 ('Cumings', 'Niskanen'),
 ('Cumings', 'Nye'),
 ('Cumings', 'Nysten'),
 ('Cumings', 'Ohman'),
 ('Cumings', 'Osman'),
 ('Cumings', 'Parrish'),
 ('Cumings', 'Pears'),
 ('Cumings', 'Penasco y Castellana'),
 ('Cumings', 'Perreault'),
 ('Cumings', 'Persson'),
 ('Cumings', 'Peuchen'),
 ('Cumings', 'Phillips'),
 ('Cumings', 'Pickard'),
 ('Cumings', 'Pinsky'),
 ('Cumings', 'Potter'),
 ('Cumings', 'Quick'),
 ('Cumings', 'Reynaldo'),
 ('Cumings', 'Richards'),
 ('Cumings', 'Ridsdale'),
 ('Cumings', 'Robert'),
 ('Cumings', 'Romaine'),
 ('Cumings', 'Rothes'),
 ('Cumings', 'Rothschild'),
 ('Cumings', 'Rugg'),
 ('Cumings', 'Ryerson'),
 ('Cumings', 'Sagesser'),
 ('Cumings', 'Salkjelsvik'),
 ('Cumings', 'Sandstrom'),
 ('Cumings', 'Serepeca'),
 ('Cumings', 'Seward'),
 ('Cumings', 'Sheerlinck'),
 ('Cumings', 'Shelley'),
 ('Cumings', 'Shutes'),
 ('Cumings', 'Silven'),
 ('Cumings', 'Silverthorne'),
 ('Cumings', 'Simonius-Blumer'),
 ('Cumings', 'Sinkkonen'),
 ('Cumings', 'Sjoblom'),
 ('Cumings', 'Slayter'),
 ('Cumings', 'Sloper'),
 ('Cumings', 'Spedden'),
 ('Cumings', 'Stahelin-Maeglin'),
 ('Cumings', 'Stephenson'),
 ('Cumings', 'Stone'),
 ('Cumings', 'Stranden'),
 ('Cumings', 'Sunderland'),
 ('Cumings', 'Sundman'),
 ('Cumings', 'Swift'),
 ('Cumings', 'Taylor'),
 ('Cumings', 'Thayer'),
 ('Cumings', 'Thomas'),
 ('Cumings', 'Toomey'),
 ('Cumings', 'Tornquist'),
 ('Cumings', 'Touma'),
 ('Cumings', 'Trout'),
 ('Cumings', 'Troutt'),
 ('Cumings', 'Turja'),
 ('Cumings', 'Turkula'),
 ('Cumings', 'Ward'),
 ('Cumings', 'Warren'),
 ('Cumings', 'Watt'),
 ('Cumings', 'Webber'),
 ('Cumings', 'Weisz'),
 ('Cumings', 'Wells'),
 ('Cumings', 'West'),
 ('Cumings', 'Wick'),
 ('Cumings', 'Wilhelms'),
 ('Cumings', 'Young'),
 ('Cumings', 'de Messemaeker'),
 ('Cumings', 'de Mulder'),
 ('Heikkinen', 'Herman'),
 ('Heikkinen', 'Hewlett'),
 ('Heikkinen', 'Hippach'),
 ('Heikkinen', 'Hirvonen'),
 ('Heikkinen', 'Hogeboom'),
 ('Heikkinen', 'Homer'),
 ('Heikkinen', 'Honkanen'),
 ('Heikkinen', 'Hosono'),
 ('Heikkinen', 'Hoyt'),
 ('Heikkinen', 'Icard'),
 ('Heikkinen', 'Ilett'),
 ('Heikkinen', 'Jalsevac'),
 ('Heikkinen', 'Jansson'),
 ('Heikkinen', 'Jerwan'),
 ('Heikkinen', 'Johnson'),
 ('Heikkinen', 'Jonsson'),
 ('Heikkinen', 'Karun'),
 ('Heikkinen', 'Kimball'),
 ('Heikkinen', 'Kink-Heilmann'),
 ('Heikkinen', 'Landergren'),
 ('Heikkinen', 'Lang'),
 ('Heikkinen', 'Laroche'),
 ('Heikkinen', 'LeRoy'),
 ('Heikkinen', 'Leader'),
 ('Heikkinen', 'Leeni'),
 ('Heikkinen', 'Lehmann'),
 ('Heikkinen', 'Lemore'),
 ('Heikkinen', 'Lesurer'),
 ('Heikkinen', 'Lindqvist'),
 ('Heikkinen', 'Lines'),
 ('Heikkinen', 'Longley'),
 ('Heikkinen', 'Louch'),
 ('Heikkinen', 'Lulic'),
 ('Heikkinen', 'Lurette'),
 ('Heikkinen', 'Madill'),
 ('Heikkinen', 'Madsen'),
 ('Heikkinen', 'Maioni'),
 ('Heikkinen', 'Mayne'),
 ('Heikkinen', 'McGough'),
 ('Heikkinen', 'McGowan'),
 ('Heikkinen', 'Mellinger'),
 ('Heikkinen', 'Mellors'),
 ('Heikkinen', 'Moor'),
 ('Heikkinen', 'Najib'),
 ('Heikkinen', 'Nakid'),
 ('Heikkinen', 'Nasser'),
 ('Heikkinen', 'Newell'),
 ('Heikkinen', 'Newsom'),
 ('Heikkinen', 'Nicola-Yarred'),
 ('Heikkinen', 'Nilsson'),
 ('Heikkinen', 'Niskanen'),
 ('Heikkinen', 'Nye'),
 ('Heikkinen', 'Nysten'),
 ('Heikkinen', 'Ohman'),
 ('Heikkinen', 'Osman'),
 ('Heikkinen', 'Parrish'),
 ('Heikkinen', 'Pears'),
 ('Heikkinen', 'Penasco y Castellana'),
 ('Heikkinen', 'Perreault'),
 ('Heikkinen', 'Persson'),
 ('Heikkinen', 'Peuchen'),
 ('Heikkinen', 'Phillips'),
 ('Heikkinen', 'Pickard'),
 ('Heikkinen', 'Pinsky'),
 ('Heikkinen', 'Potter'),
 ('Heikkinen', 'Quick'),
 ('Heikkinen', 'Reynaldo'),
 ('Heikkinen', 'Richards'),
 ('Heikkinen', 'Ridsdale'),
 ('Heikkinen', 'Robert'),
 ('Heikkinen', 'Romaine'),
 ('Heikkinen', 'Rothes'),
 ('Heikkinen', 'Rothschild'),
 ('Heikkinen', 'Rugg'),
 ('Heikkinen', 'Ryerson'),
 ('Heikkinen', 'Sagesser'),
 ('Heikkinen', 'Salkjelsvik'),
 ('Heikkinen', 'Sandstrom'),
 ('Heikkinen', 'Serepeca'),
 ('Heikkinen', 'Seward'),
 ('Heikkinen', 'Sheerlinck'),
 ('Heikkinen', 'Shelley'),
 ('Heikkinen', 'Shutes'),
 ('Heikkinen', 'Silven'),
 ('Heikkinen', 'Silverthorne'),
 ('Heikkinen', 'Simonius-Blumer'),
 ('Heikkinen', 'Sinkkonen'),
 ('Heikkinen', 'Sjoblom'),
 ('Heikkinen', 'Slayter'),
 ('Heikkinen', 'Sloper'),
 ('Heikkinen', 'Spedden'),
 ('Heikkinen', 'Stahelin-Maeglin'),
 ('Heikkinen', 'Stephenson'),
 ('Heikkinen', 'Stone'),
 ('Heikkinen', 'Stranden'),
 ('Heikkinen', 'Sunderland'),
 ('Heikkinen', 'Sundman'),
 ('Heikkinen', 'Swift'),
 ('Heikkinen', 'Taylor'),
 ('Heikkinen', 'Thayer'),
 ('Heikkinen', 'Thomas'),
 ('Heikkinen', 'Toomey'),
 ('Heikkinen', 'Tornquist'),
 ('Heikkinen', 'Touma'),
 ('Heikkinen', 'Trout'),
 ('Heikkinen', 'Troutt'),
 ('Heikkinen', 'Turja'),
 ('Heikkinen', 'Turkula'),
 ('Heikkinen', 'Ward'),
 ('Heikkinen', 'Warren'),
 ('Heikkinen', 'Watt'),
 ('Heikkinen', 'Webber'),
 ('Heikkinen', 'Weisz'),
 ('Heikkinen', 'Wells'),
 ('Heikkinen', 'West'),
 ('Heikkinen', 'Wick'),
 ('Heikkinen', 'Wilhelms'),
 ('Heikkinen', 'Young'),
 ('Heikkinen', 'de Messemaeker'),
 ('Heikkinen', 'de Mulder'),
 ('Futrelle', 'Garside'),
 ('Futrelle', 'Gilnagh'),
 ('Futrelle', 'Goldenberg'),
 ('Futrelle', 'Goldsmith'),
 ('Futrelle', 'Graham'),
 ('Futrelle', 'Greenfield'),
 ('Futrelle', 'Hakkarainen'),
 ('Futrelle', 'Hamalainen'),
 ('Futrelle', 'Harder'),
 ('Futrelle', 'Harper'),
 ('Futrelle', 'Hassab'),
 ('Futrelle', 'Hays'),
 ('Futrelle', 'Hedman'),
 ('Futrelle', 'Heikkinen'),
 ('Futrelle', 'Herman'),
 ('Futrelle', 'Hewlett'),
 ('Futrelle', 'Hippach'),
 ('Futrelle', 'Hirvonen'),
 ('Futrelle', 'Hogeboom'),
 ('Futrelle', 'Homer'),
 ('Futrelle', 'Honkanen'),
 ('Futrelle', 'Hosono'),
 ('Futrelle', 'Hoyt'),
 ('Futrelle', 'Icard'),
 ('Futrelle', 'Ilett'),
 ('Futrelle', 'Jalsevac'),
 ('Futrelle', 'Jansson'),
 ('Futrelle', 'Jerwan'),
 ('Futrelle', 'Johnson'),
 ('Futrelle', 'Jonsson'),
 ('Futrelle', 'Karun'),
 ('Futrelle', 'Kimball'),
 ('Futrelle', 'Kink-Heilmann'),
 ('Futrelle', 'Landergren'),
 ('Futrelle', 'Lang'),
 ('Futrelle', 'Laroche'),
 ('Futrelle', 'LeRoy'),
 ('Futrelle', 'Leader'),
 ('Futrelle', 'Leeni'),
 ('Futrelle', 'Lehmann'),
 ('Futrelle', 'Lemore'),
 ('Futrelle', 'Lesurer'),
 ('Futrelle', 'Lindqvist'),
 ('Futrelle', 'Lines'),
 ('Futrelle', 'Longley'),
 ('Futrelle', 'Louch'),
 ('Futrelle', 'Lulic'),
 ('Futrelle', 'Lurette'),
 ('Futrelle', 'Madill'),
 ('Futrelle', 'Madsen'),
 ('Futrelle', 'Maioni'),
 ('Futrelle', 'Mayne'),
 ('Futrelle', 'McGough'),
 ('Futrelle', 'McGowan'),
 ('Futrelle', 'Mellinger'),
 ('Futrelle', 'Mellors'),
 ('Futrelle', 'Moor'),
 ('Futrelle', 'Najib'),
 ('Futrelle', 'Nakid'),
 ('Futrelle', 'Nasser'),
 ('Futrelle', 'Newell'),
 ('Futrelle', 'Newsom'),
 ('Futrelle', 'Nicola-Yarred'),
 ('Futrelle', 'Nilsson'),
 ('Futrelle', 'Niskanen'),
 ('Futrelle', 'Nye'),
 ('Futrelle', 'Nysten'),
 ('Futrelle', 'Ohman'),
 ('Futrelle', 'Osman'),
 ('Futrelle', 'Parrish'),
 ('Futrelle', 'Pears'),
 ('Futrelle', 'Penasco y Castellana'),
 ('Futrelle', 'Perreault'),
 ('Futrelle', 'Persson'),
 ('Futrelle', 'Peuchen'),
 ('Futrelle', 'Phillips'),
 ('Futrelle', 'Pickard'),
 ('Futrelle', 'Pinsky'),
 ('Futrelle', 'Potter'),
 ('Futrelle', 'Quick'),
 ('Futrelle', 'Reynaldo'),
 ('Futrelle', 'Richards'),
 ('Futrelle', 'Ridsdale'),
 ('Futrelle', 'Robert'),
 ('Futrelle', 'Romaine'),
 ('Futrelle', 'Rothes'),
 ('Futrelle', 'Rothschild'),
 ('Futrelle', 'Rugg'),
 ('Futrelle', 'Ryerson'),
 ('Futrelle', 'Sagesser'),
 ('Futrelle', 'Salkjelsvik'),
 ('Futrelle', 'Sandstrom'),
 ('Futrelle', 'Serepeca'),
 ('Futrelle', 'Seward'),
 ('Futrelle', 'Sheerlinck'),
 ('Futrelle', 'Shelley'),
 ('Futrelle', 'Shutes'),
 ('Futrelle', 'Silven'),
 ('Futrelle', 'Silverthorne'),
 ('Futrelle', 'Simonius-Blumer'),
 ('Futrelle', 'Sinkkonen'),
 ('Futrelle', 'Sjoblom'),
 ('Futrelle', 'Slayter'),
 ('Futrelle', 'Sloper'),
 ('Futrelle', 'Spedden'),
 ('Futrelle', 'Stahelin-Maeglin'),
 ('Futrelle', 'Stephenson'),
 ('Futrelle', 'Stone'),
 ('Futrelle', 'Stranden'),
 ('Futrelle', 'Sunderland'),
 ('Futrelle', 'Sundman'),
 ('Futrelle', 'Swift'),
 ('Futrelle', 'Taylor'),
 ('Futrelle', 'Thayer'),
 ('Futrelle', 'Thomas'),
 ('Futrelle', 'Toomey'),
 ('Futrelle', 'Tornquist'),
 ('Futrelle', 'Touma'),
 ('Futrelle', 'Trout'),
 ('Futrelle', 'Troutt'),
 ('Futrelle', 'Turja'),
 ('Futrelle', 'Turkula'),
 ('Futrelle', 'Ward'),
 ('Futrelle', 'Warren'),
 ('Futrelle', 'Watt'),
 ('Futrelle', 'Webber'),
 ('Futrelle', 'Weisz'),
 ('Futrelle', 'Wells'),
 ('Futrelle', 'West'),
 ('Futrelle', 'Wick'),
 ('Futrelle', 'Wilhelms'),
 ('Futrelle', 'Young'),
 ('Futrelle', 'de Messemaeker'),
 ('Futrelle', 'de Mulder'),
 ('Johnson', 'Jonsson'),
 ('Johnson', 'Karun'),
 ('Johnson', 'Kimball'),
 ('Johnson', 'Kink-Heilmann'),
 ('Johnson', 'Landergren'),
 ('Johnson', 'Lang'),
 ('Johnson', 'Laroche'),
 ('Johnson', 'LeRoy'),
 ('Johnson', 'Leader'),
 ('Johnson', 'Leeni'),
 ('Johnson', 'Lehmann'),
 ('Johnson', 'Lemore'),
 ('Johnson', 'Lesurer'),
 ('Johnson', 'Lindqvist'),
 ('Johnson', 'Lines'),
 ('Johnson', 'Longley'),
 ('Johnson', 'Louch'),
 ('Johnson', 'Lulic'),
 ('Johnson', 'Lurette'),
 ('Johnson', 'Madill'),
 ('Johnson', 'Madsen'),
 ('Johnson', 'Maioni'),
 ('Johnson', 'Mayne'),
 ('Johnson', 'McGough'),
 ('Johnson', 'McGowan'),
 ('Johnson', 'Mellinger'),
 ('Johnson', 'Mellors'),
 ('Johnson', 'Moor'),
 ('Johnson', 'Najib'),
 ('Johnson', 'Nakid'),
 ('Johnson', 'Nasser'),
 ('Johnson', 'Newell'),
 ('Johnson', 'Newsom'),
 ('Johnson', 'Nicola-Yarred'),
 ('Johnson', 'Nilsson'),
 ('Johnson', 'Niskanen'),
 ('Johnson', 'Nye'),
 ('Johnson', 'Nysten'),
 ('Johnson', 'Ohman'),
 ('Johnson', 'Osman'),
 ('Johnson', 'Parrish'),
 ('Johnson', 'Pears'),
 ('Johnson', 'Penasco y Castellana'),
 ('Johnson', 'Perreault'),
 ('Johnson', 'Persson'),
 ('Johnson', 'Peuchen'),
 ('Johnson', 'Phillips'),
 ('Johnson', 'Pickard'),
 ('Johnson', 'Pinsky'),
 ('Johnson', 'Potter'),
 ('Johnson', 'Quick'),
 ('Johnson', 'Reynaldo'),
 ('Johnson', 'Richards'),
 ('Johnson', 'Ridsdale'),
 ('Johnson', 'Robert'),
 ('Johnson', 'Romaine'),
 ('Johnson', 'Rothes'),
 ('Johnson', 'Rothschild'),
 ('Johnson', 'Rugg'),
 ('Johnson', 'Ryerson'),
 ('Johnson', 'Sagesser'),
 ('Johnson', 'Salkjelsvik'),
 ('Johnson', 'Sandstrom'),
 ('Johnson', 'Serepeca'),
 ('Johnson', 'Seward'),
 ('Johnson', 'Sheerlinck'),
 ('Johnson', 'Shelley'),
 ('Johnson', 'Shutes'),
 ('Johnson', 'Silven'),
 ('Johnson', 'Silverthorne'),
 ('Johnson', 'Simonius-Blumer'),
 ('Johnson', 'Sinkkonen'),
 ('Johnson', 'Sjoblom'),
 ('Johnson', 'Slayter'),
 ('Johnson', 'Sloper'),
 ('Johnson', 'Spedden'),
 ('Johnson', 'Stahelin-Maeglin'),
 ('Johnson', 'Stephenson'),
 ('Johnson', 'Stone'),
 ('Johnson', 'Stranden'),
 ('Johnson', 'Sunderland'),
 ('Johnson', 'Sundman'),
 ('Johnson', 'Swift'),
 ('Johnson', 'Taylor'),
 ('Johnson', 'Thayer'),
 ('Johnson', 'Thomas'),
 ('Johnson', 'Toomey'),
 ('Johnson', 'Tornquist'),
 ('Johnson', 'Touma'),
 ('Johnson', 'Trout'),
 ('Johnson', 'Troutt'),
 ('Johnson', 'Turja'),
 ('Johnson', 'Turkula'),
 ('Johnson', 'Ward'),
 ('Johnson', 'Warren'),
 ('Johnson', 'Watt'),
 ('Johnson', 'Webber'),
 ('Johnson', 'Weisz'),
 ('Johnson', 'Wells'),
 ('Johnson', 'West'),
 ('Johnson', 'Wick'),
 ('Johnson', 'Wilhelms'),
 ('Johnson', 'Young'),
 ('Johnson', 'de Messemaeker'),
 ('Johnson', 'de Mulder'),
 ('Nasser', 'Newell'),
 ('Nasser', 'Newsom'),
 ('Nasser', 'Nicola-Yarred'),
 ('Nasser', 'Nilsson'),
 ('Nasser', 'Niskanen'),
 ('Nasser', 'Nye'),
 ('Nasser', 'Nysten'),
 ('Nasser', 'Ohman'),
 ('Nasser', 'Osman'),
 ('Nasser', 'Parrish'),
 ('Nasser', 'Pears'),
 ('Nasser', 'Penasco y Castellana'),
 ('Nasser', 'Perreault'),
 ('Nasser', 'Persson'),
 ('Nasser', 'Peuchen'),
 ('Nasser', 'Phillips'),
 ('Nasser', 'Pickard'),
 ('Nasser', 'Pinsky'),
 ('Nasser', 'Potter'),
 ('Nasser', 'Quick'),
 ('Nasser', 'Reynaldo'),
 ('Nasser', 'Richards'),
 ('Nasser', 'Ridsdale'),
 ('Nasser', 'Robert'),
 ('Nasser', 'Romaine'),
 ('Nasser', 'Rothes'),
 ('Nasser', 'Rothschild'),
 ('Nasser', 'Rugg'),
 ('Nasser', 'Ryerson'),
 ('Nasser', 'Sagesser'),
 ('Nasser', 'Salkjelsvik'),
 ('Nasser', 'Sandstrom'),
 ('Nasser', 'Serepeca'),
 ('Nasser', 'Seward'),
 ('Nasser', 'Sheerlinck'),
 ('Nasser', 'Shelley'),
 ('Nasser', 'Shutes'),
 ('Nasser', 'Silven'),
 ('Nasser', 'Silverthorne'),
 ('Nasser', 'Simonius-Blumer'),
 ('Nasser', 'Sinkkonen'),
 ('Nasser', 'Sjoblom'),
 ('Nasser', 'Slayter'),
 ('Nasser', 'Sloper'),
 ('Nasser', 'Spedden'),
 ('Nasser', 'Stahelin-Maeglin'),
 ('Nasser', 'Stephenson'),
 ('Nasser', 'Stone'),
 ('Nasser', 'Stranden'),
 ('Nasser', 'Sunderland'),
 ('Nasser', 'Sundman'),
 ('Nasser', 'Swift'),
 ('Nasser', 'Taylor'),
 ('Nasser', 'Thayer'),
 ('Nasser', 'Thomas'),
 ('Nasser', 'Toomey'),
 ('Nasser', 'Tornquist'),
 ('Nasser', 'Touma'),
 ('Nasser', 'Trout'),
 ('Nasser', 'Troutt'),
 ('Nasser', 'Turja'),
 ('Nasser', 'Turkula'),
 ('Nasser', 'Ward'),
 ('Nasser', 'Warren'),
 ('Nasser', 'Watt'),
 ('Nasser', 'Webber'),
 ('Nasser', 'Weisz'),
 ('Nasser', 'Wells'),
 ('Nasser', 'West'),
 ('Nasser', 'Wick'),
 ('Nasser', 'Wilhelms'),
 ('Nasser', 'Young'),
 ('Nasser', 'de Messemaeker'),
 ('Nasser', 'de Mulder'),
 ('Sandstrom', 'Serepeca'),
 ('Sandstrom', 'Seward'),
 ('Sandstrom', 'Sheerlinck'),
 ('Sandstrom', 'Shelley'),
 ('Sandstrom', 'Shutes'),
 ('Sandstrom', 'Silven'),
 ('Sandstrom', 'Silverthorne'),
 ('Sandstrom', 'Simonius-Blumer'),
 ('Sandstrom', 'Sinkkonen'),
 ('Sandstrom', 'Sjoblom'),
 ('Sandstrom', 'Slayter'),
 ('Sandstrom', 'Sloper'),
 ('Sandstrom', 'Spedden'),
 ('Sandstrom', 'Stahelin-Maeglin'),
 ('Sandstrom', 'Stephenson'),
 ('Sandstrom', 'Stone'),
 ('Sandstrom', 'Stranden'),
 ('Sandstrom', 'Sunderland'),
 ('Sandstrom', 'Sundman'),
 ('Sandstrom', 'Swift'),
 ('Sandstrom', 'Taylor'),
 ('Sandstrom', 'Thayer'),
 ('Sandstrom', 'Thomas'),
 ('Sandstrom', 'Toomey'),
 ('Sandstrom', 'Tornquist'),
 ('Sandstrom', 'Touma'),
 ('Sandstrom', 'Trout'),
 ('Sandstrom', 'Troutt'),
 ('Sandstrom', 'Turja'),
 ('Sandstrom', 'Turkula'),
 ('Sandstrom', 'Ward'),
 ('Sandstrom', 'Warren'),
 ('Sandstrom', 'Watt'),
 ('Sandstrom', 'Webber'),
 ('Sandstrom', 'Weisz'),
 ('Sandstrom', 'Wells'),
 ('Sandstrom', 'West'),
 ('Sandstrom', 'Wick'),
 ('Sandstrom', 'Wilhelms'),
 ('Sandstrom', 'Young'),
 ('Sandstrom', 'de Messemaeker'),
 ('Sandstrom', 'de Mulder'),
 ('Bonnell', 'Bowerman'),
 ('Bonnell', 'Brown'),
 ('Bonnell', 'Burns'),
 ('Bonnell', 'Buss'),
 ('Bonnell', 'Bystrom'),
 ('Bonnell', 'Calderhead'),
 ('Bonnell', 'Caldwell'),
 ('Bonnell', 'Cameron'),
 ('Bonnell', 'Cardeza'),
 ('Bonnell', 'Carr'),
 ('Bonnell', 'Chambers'),
 ('Bonnell', 'Cherry'),
 ('Bonnell', 'Chip'),
 ('Bonnell', 'Christy'),
 ('Bonnell', 'Clarke'),
 ('Bonnell', 'Cleaver'),
 ('Bonnell', 'Cohen'),
 ('Bonnell', 'Collyer'),
 ('Bonnell', 'Compton'),
 ('Bonnell', 'Connolly'),
 ('Bonnell', 'Coutts'),
 ('Bonnell', 'Crosby'),
 ('Bonnell', 'Cumings'),
 ('Bonnell', 'Dahl'),
 ('Bonnell', 'Daly'),
 ('Bonnell', 'Daniel'),
 ('Bonnell', 'Davis'),
 ('Bonnell', 'Devaney'),
 ('Bonnell', 'Dick'),
 ('Bonnell', 'Dodge'),
 ('Bonnell', 'Doling'),
 ('Bonnell', 'Dorking'),
 ('Bonnell', 'Dowdell'),
 ('Bonnell', 'Drew'),
 ('Bonnell', 'Duff Gordon'),
 ('Bonnell', 'Duran y More'),
 ('Bonnell', 'Emanuel'),
 ('Bonnell', 'Endres'),
 ('Bonnell', 'Eustis'),
 ('Bonnell', 'Faunthorpe'),
 ('Bonnell', 'Flynn'),
 ('Bonnell', 'Francatelli'),
 ('Bonnell', 'Frauenthal'),
 ('Bonnell', 'Frolicher'),
 ('Bonnell', 'Frolicher-Stehli'),
 ('Bonnell', 'Futrelle'),
 ('Bonnell', 'Garside'),
 ('Bonnell', 'Gilnagh'),
 ('Bonnell', 'Goldenberg'),
 ('Bonnell', 'Goldsmith'),
 ('Bonnell', 'Graham'),
 ('Bonnell', 'Greenfield'),
 ('Bonnell', 'Hakkarainen'),
 ('Bonnell', 'Hamalainen'),
 ('Bonnell', 'Harder'),
 ('Bonnell', 'Harper'),
 ('Bonnell', 'Hassab'),
 ('Bonnell', 'Hays'),
 ('Bonnell', 'Hedman'),
 ('Bonnell', 'Heikkinen'),
 ('Bonnell', 'Herman'),
 ('Bonnell', 'Hewlett'),
 ('Bonnell', 'Hippach'),
 ('Bonnell', 'Hirvonen'),
 ('Bonnell', 'Hogeboom'),
 ('Bonnell', 'Homer'),
 ('Bonnell', 'Honkanen'),
 ('Bonnell', 'Hosono'),
 ('Bonnell', 'Hoyt'),
 ('Bonnell', 'Icard'),
 ('Bonnell', 'Ilett'),
 ('Bonnell', 'Jalsevac'),
 ('Bonnell', 'Jansson'),
 ('Bonnell', 'Jerwan'),
 ('Bonnell', 'Johnson'),
 ('Bonnell', 'Jonsson'),
 ('Bonnell', 'Karun'),
 ('Bonnell', 'Kimball'),
 ('Bonnell', 'Kink-Heilmann'),
 ('Bonnell', 'Landergren'),
 ('Bonnell', 'Lang'),
 ('Bonnell', 'Laroche'),
 ('Bonnell', 'LeRoy'),
 ('Bonnell', 'Leader'),
 ('Bonnell', 'Leeni'),
 ('Bonnell', 'Lehmann'),
 ('Bonnell', 'Lemore'),
 ('Bonnell', 'Lesurer'),
 ('Bonnell', 'Lindqvist'),
 ('Bonnell', 'Lines'),
 ('Bonnell', 'Longley'),
 ('Bonnell', 'Louch'),
 ('Bonnell', 'Lulic'),
 ('Bonnell', 'Lurette'),
 ('Bonnell', 'Madill'),
 ('Bonnell', 'Madsen'),
 ('Bonnell', 'Maioni'),
 ('Bonnell', 'Mayne'),
 ('Bonnell', 'McGough'),
 ('Bonnell', 'McGowan'),
 ('Bonnell', 'Mellinger'),
 ('Bonnell', 'Mellors'),
 ('Bonnell', 'Moor'),
 ('Bonnell', 'Najib'),
 ('Bonnell', 'Nakid'),
 ('Bonnell', 'Nasser'),
 ('Bonnell', 'Newell'),
 ('Bonnell', 'Newsom'),
 ('Bonnell', 'Nicola-Yarred'),
 ('Bonnell', 'Nilsson'),
 ('Bonnell', 'Niskanen'),
 ('Bonnell', 'Nye'),
 ('Bonnell', 'Nysten'),
 ('Bonnell', 'Ohman'),
 ('Bonnell', 'Osman'),
 ('Bonnell', 'Parrish'),
 ('Bonnell', 'Pears'),
 ('Bonnell', 'Penasco y Castellana'),
 ('Bonnell', 'Perreault'),
 ('Bonnell', 'Persson'),
 ('Bonnell', 'Peuchen'),
 ('Bonnell', 'Phillips'),
 ('Bonnell', 'Pickard'),
 ('Bonnell', 'Pinsky'),
 ('Bonnell', 'Potter'),
 ('Bonnell', 'Quick'),
 ('Bonnell', 'Reynaldo'),
 ('Bonnell', 'Richards'),
 ('Bonnell', 'Ridsdale'),
 ('Bonnell', 'Robert'),
 ('Bonnell', 'Romaine'),
 ('Bonnell', 'Rothes'),
 ('Bonnell', 'Rothschild'),
 ('Bonnell', 'Rugg'),
 ('Bonnell', 'Ryerson'),
 ('Bonnell', 'Sagesser'),
 ('Bonnell', 'Salkjelsvik'),
 ('Bonnell', 'Sandstrom'),
 ('Bonnell', 'Serepeca'),
 ('Bonnell', 'Seward'),
 ('Bonnell', 'Sheerlinck'),
 ('Bonnell', 'Shelley'),
 ('Bonnell', 'Shutes'),
 ('Bonnell', 'Silven'),
 ('Bonnell', 'Silverthorne'),
 ('Bonnell', 'Simonius-Blumer'),
 ('Bonnell', 'Sinkkonen'),
 ('Bonnell', 'Sjoblom'),
 ('Bonnell', 'Slayter'),
 ('Bonnell', 'Sloper'),